<!DOCTYPE html>
<html lang="es" xmlns:th='http://thymeleaf.org'>
<head>
<meta charset="UTF-8">
<title>Home</title>
<link th:href="@{/css/estilos_home.css}" rel="stylesheet">
</head>
<body>
	<header>
		<figure>
			<img th:src="@{/images/OPERCAM_SMALLLOGO.png}">
		</figure>
		<h1>SELECCIONA UN PUESTO DE OPERARIO</h1>
	</header>
</body>
<main>
	<section id="puestos">
		<div class="puesto">
			<div>
				<div th:each="linea : ${puesto1}">
					<p th:text="${linea.numeroLinea}"></p>
					<p th:text="${linea.producto}"></p>
				</div>
			</div>
		</div>
		<div class="puesto">
			<div>
				<div th:each="linea : ${puesto2}">
					<p th:text="${linea.numeroLinea}"></p>
					<p th:text="${linea.producto}"></p>
				</div>
			</div>
		</div>
		<div class="puesto">
			<div>
				<div th:each="linea : ${puesto3}">
					<p th:text="${linea.numeroLinea}"></p>
					<p th:text="${linea.producto}"></p>
				</div>
			</div>
		</div>
		<div class="puesto">
			<div>
				<div th:each="linea : ${puesto4}">
					<p th:text="${linea.numeroLinea}"></p>
					<p th:text="${linea.producto}"></p>
				</div>
			</div>
		</div>
		<div class="puesto">
			<div>
				<div th:each="linea : ${puesto5}">
					<p th:text="${linea.numeroLinea}"></p>
					<p th:text="${linea.producto}"></p>
				</div>
			</div>
		</div>
	</section>
	<section id="filtro">
		<h2>o selecciona un tipo de producto</h2>
		<form id="filtros" th:action="@{/puestoFiltrado}">
			<select id="producto" name="producto">
				<option value="HC 23">HC 23</option>
				<option value="HC 27">HC 27</option>
				<option value="HC 23 PRO">HC 23 PRO</option>
				<option value="HC 26 PRO">HC 26 PRO</option>
			</select> <input class="boton" type="submit" value="FILTRAR">
		</form>
	</section>
</main>
</html>