<!DOCTYPE html>
<html lang="es" xmlns:th='http://thymeleaf.org'>
<head>
<meta charset="UTF-8">
<title>Puesto de operario</title>
<link th:href="@{/css/estilos_puesto.css}" rel="stylesheet">
</head>
<body>
	<header>
		<a th:href="@{/home}" class="back-icon"> <img
			th:src="@{/images/back.png}" alt="Volver">
		</a>
		<div class="header-content">
			<figure>
				<img th:src="@{/images/OPERCAM_SMALLLOGO.png}" alt="Logo">
			</figure>
			<h1>
				PUESTO <span th:text="${puesto}"></span>
			</h1>
		</div>
	</header>
	<main>
		<section id="rechazos">
			<div th:each="rechazo: ${rechazos}" class="lineaContainer">
				<h2>
					LINEA <span th:text="${rechazo.lineaProduccion.numeroLinea}"></span>
				</h2>
				<div class="linea">
					<h3>RECHAZOS</h3>
					<div class="lineaDato">
						<p>Frame:</p>
						<span class="dynamic-span" th:text="${rechazo.porcentajeFrame}"></span>
					</div>
					<div class="lineaDato">
						<p>Lid:</p>
						<span class="dynamic-span" th:text="${rechazo.porcentajeLid}"></span>
					</div>
					<div class="lineaDato">
						<p>Cutter:</p>
						<span class="dynamic-span" th:text="${rechazo.porcentajeCutter}"></span>
					</div>
					<div class="lineaDato">
						<p>Ensamblado:</p>
						<span class="dynamic-span" th:text="${rechazo.porcentajeEnsamblado}"></span>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="reclamacion">
				<a th:href="@{/reclamacion}" class="boton">ABRIR UNA RECLAMACION</a>
			</div>
			<div class="reclamacion">
				<a th:href="@{/reclamaciones}" class="boton">CONSULTAR RECLAMACIONES</a>
			</div>
		</section>
	</main>
</body>

<script>
    // Función para cambiar el contenido de todos los spans con la clase 'dynamic-span'
    function actualizarSpans() {
      // Seleccionar todos los spans con la clase 'dynamic-span'
      var spans = document.querySelectorAll('.dynamic-span');
      
      // Recorrer cada span y actualizar su contenido
      spans.forEach(function(span) {
        var nuevoValor = obtenerNuevoValor();
        span.textContent = nuevoValor;

        // Cambiar la clase según el valor
        if (nuevoValor <= 0.5) {
          span.classList.add('verde');
          span.classList.remove('rojo');
        } else {
          span.classList.add('rojo');
          span.classList.remove('verde');
        }
      });
    }

    // Función para obtener un nuevo valor entre 0 y 1 con dos decimales
    function obtenerNuevoValor() {
      var randomValue = Math.random() * 100; // Valor entre 0 y 100
      var roundedValue = Math.round(randomValue) / 100; // Redondear y dividir para dos decimales
      return roundedValue.toFixed(2); // Convertir a cadena con dos decimales
    }

    // Llamar a actualizarSpans cada 3 segundos (3000 milisegundos)
    setInterval(actualizarSpans, 1000); // Cambia cada 3 segundos
  </script>
</html>

