<!DOCTYPE html>
<html lang="es" xmlns:th='http://thymeleaf.org'>
<head>
<meta charset="UTF-8">
<title>Abrir una reclamación</title>
<link th:href="@{/css/estilos_reclamacion.css}" rel="stylesheet">
</head>
<body>
	<header>
		<a th:href="@{/home}" class="back-icon"> <img
			th:src="@{/images/back.png}" alt="Volver">
		</a>
		<div class="header-content">
			<figure>
				<img th:src="@{/images/OPERCAM_SMALLLOGO.png}" alt="Logo">
			</figure>
			<h1>RECLAMACIÓN</h1>
		</div>
	</header>
	<main>
		<section>
			<div id="formulario">
				<form id="formularioReclamacion" th:action="@{/reclamacionCreada}"
					th:object="${reclamacion}">
					<table>
						<tr>
							<th>Campo</th>
							<th>Valor</th>
						</tr>
						<tr>
							<td>Número de línea</td>
							<td><input id="linea" type="text" th:field="*{linea}"></td>
						</tr>
						<tr>
							<td>Descripción</td>
							<td><input id="descripcion" type="text"
								th:field="*{descripcion}"></td>
						</tr>
						<tr>
							<td>Pieza</td>
							<td><input id="pieza" type="text" th:field="*{pieza}"></td>
						</tr>
						<tr>
							<td>Abierta por</td>
							<td><input id="creadaPor" type="text"
								th:field="*{creadaPor}"></td>
						</tr>
						<tr>
							<td>Asignada a</td>
							<td><input id="asignadaA" type="text"
								th:field="*{asignadaA}"></td>
						</tr>
					</table>
				</form>
			</div>
		</section>
	</main>
</body>
</html>