<!DOCTYPE html>
<html lang="es" xmlns:th='http://thymeleaf.org'>
<head>
<meta charset="UTF-8">
<title>Abrir una reclamación</title>
<link th:href="@{/css/estilos_reclamacion.css}" rel="stylesheet">
</head>
<body>
	<header>
		<a th:href="@{/home}" class="back-icon"> <img
			th:src="@{/images/back.png}" alt="Volver">
		</a>
		<div class="header-content">
			<figure>
				<img th:src="@{/images/OPERCAM_SMALLLOGO.png}" alt="Logo">
			</figure>
			<h1>RECLAMACIÓN</h1>
		</div>
	</header>
	<main>
		<section>
			<div id="formulario">
				<form id="formularioReclamacion" th:action="@{/reclamacionCreada}"
					th:object="${reclamacion}">
					<table>
						<tr>
							<th>Campo</th>
							<th>Valor</th>
						</tr>
						<tr>
							<td>Número de línea</td>
							<td>
							<select id="linea" th:field="*{linea}">
									<option value="2">2</option>
									<option value="7">7</option>
									<option value="704">704</option>
									<option value="6">6</option>
									<option value="611">611</option>
									<option value="617">617</option>
									<option value="608">608</option>
									<option value="610">610</option>
									<option value="75">75</option>
									<option value="609">609</option>
									<option value="58">58</option>
									<option value="53">53</option>
									<option value="606">606</option>
									<option value="705">705</option>
									<option value="23">23</option>
							</select>
							</td>
						</tr>
						<tr>
							<td>Descripción</td>
							<td><textarea id="descripcion" th:field="*{descripcion}" rows="20" cols="50"></textarea></td>
						</tr>
						<tr>
							<td>Pieza</td>
							<td><select id="pieza" th:field="*{pieza}">
									<option value="Lid">Lid</option>
									<option value="Frame">Frame</option>
									<option value="Cutter">Cutter</option>
									<option value="Ensamblado">Ensamblado</option>
							</select></td>
						</tr>
						<tr>
							<td>Abierta por</td>
							<td><input id="creadaPor" type="text"
								th:field="*{creadaPor}"></td>
						</tr>
						<tr>
							<td>Asignada a</td>
							<td><input id="asignadaA" type="text"
								th:field="*{asignadaA}"></td>
						</tr>
						<tr>
							<td>Crear reclamacion</td>
							<td><input type="submit"
								value="Enviar"></td>
						</tr>
					</table>
				</form>
			</div>
		</section>
	</main>
</body>
</html>