@charset "UTF-8";

html {
	background-color: #EDEBC1;
	font-family: 'League Spartan', sans-serif;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#formDiv {
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#botonAcceder {
	margin-top: 35px;
	text-align: center;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.boton {
	background-color: #48C8CE; /* Color de fondo */
	color: white; /* Color del texto */
	border: 2px solid rgba(111, 116, 123, 0.7);
	/* Borde con color especificado */
	border-radius: 5px; /* Bordes redondeados */
	padding: 10px 20px; /* Espacio interior: ajusta según prefieras */
	font-size: 16px; /* Tamaño de la fuente */
	cursor: pointer; /* Cambia el cursor al pasar por encima */
	text-transform: uppercase; /* Convierte el texto a mayúsculas */
	transition: background-color 0.3s ease;
	/* Transición suave para hover */
}

/* Efecto al pasar el cursor por encima */
.boton:hover {
	background-color: #3BAFB5; /* Color de fondo ligeramente más oscuro */
}

p {
	color: #70747A;
	font-size: 25px;
}

input[type="email"], input[type="password"] {
	width: 400px; /* Ajusta el ancho según tus necesidades */
	height: 40px; /* Ajusta la altura según tus necesidades */
	border-radius: 10px; /* Ajusta el radio para bordes redondeados */
	padding: 10px; /* Espacio interior para mejor apariencia */
	border: 1px solid #ccc; /* Añade un borde delgado */
	font-size: 16px; /* Ajusta el tamaño de la fuente */
}

/* Añade un estilo cuando el input está enfocado */
input[type="email"]:focus, input[type="password"]:focus {
	border-color: #666; /* Cambia el color del borde al enfocar */
	outline: none; /* Elimina el borde de enfoque predeterminado */
}