@charset "UTF-8";
html {
	background-color: #EDEBC1;
	font-family: 'League Spartan', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	width:100%;
	height:100%;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-icon {
    position: absolute;
    top: 10px;
    left: 20px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
	font-size:65px;
	color: #70747A;
}

h2 {
	font-size:40px;
	color: #70747A;
}

.lineaDato p{
	color: #70747A;
	font-weight:bold;
}

h3 {
	color: #70747A;
	font-weight: bold;
	font-size: 30px;
}

.linea {
	width:200px;
	height:300px;
	background-color:white;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	border-radius: 20px;
    border: 2px solid rgba(110, 117, 122, 0.5);
    padding-bottom:20px;
}

.lineaDato {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	width:80%;
}

.lineaContainer {
	display:flex;
	flex-direction: column;
	text-align:center;
}

body {
	width:100%;
	display:flex;
	flex-direction:column;
	height:100%;
}

main {
	display: flex;
	justify-content:flex-start;
	flex-direction: column;
	align-items: center;
	width:100%;
	height: 100%;
}

#rechazos {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width:80%;
}

.boton {
	background-color: #48C8CE; 
	color: white;
	border: 2px solid rgba(111, 116, 123, 0.7);
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px; 
	cursor: pointer;
	text-transform: uppercase;
	transition: background-color 0.3s ease;
}

#reclamacion {
	margin-top:30px;
	text-align:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	width:250px;
	height:50px;
}